@use 'reset';
@use 'colors';
@use 'fonts';
@use 'measurements';

* > {
  box-sizing: border-box;
}
.content-container {
  // Contains .content div and footer
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  // Contains everything besides the footer
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.views {
  display: flex;
}
.header {
  display: flex;
  background-color: colors.$bg-1;
  color: white;
  height: 4em;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  padding: 1em 0;
}
.header-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-col-center {
  flex-grow: 1;
}
.btn-base {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
}
.btn-img-base {
  height: 100%;
}
.edit-icon {
  transform: rotateY(180deg);
}
.github-icon {
  height: 2em;
}
.views {
  display: flex;
  flex-grow: 1;
}
.view-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.view-menu {
  flex-basis: 80%;
  background-color: rgb(80, 80, 97);
  border-right: 1px solid black;
}
.view-menu-settings {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.view-email {
  flex-basis: 20%;
  flex-grow: 1;
  width: 100vw;
}
.hidden {
  display: none;
}
.emails {
  overflow-y: auto;
}
.email {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 1em;
}
.top {
  display: flex;
  padding-bottom: 1em;
}
.subject-line-container {
  flex-basis: 80%;
}
.date-received-container {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}